<div style="text-align: right;">
	          <%= link_to " Homeに戻る" , root_path , { :class => "btn btn-default btn-sm"}%>
              <%= link_to "1Page" , searchshow_path($keyword,1) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "2Page" , searchshow_path($keyword,2) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "3Page" , searchshow_path($keyword,3) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "4Page" , searchshow_path($keyword,4) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "5Page" , searchshow_path($keyword,5) , { :class => "btn btn-default btn-sm"}%> 
              <%= link_to "6Page" , searchshow_path($keyword,6) , { :class => "btn btn-default btn-sm"}%> 
</div>