<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><%= @janru_name %></h2>
            <%= render 'catepagelink' %>
    </div>
    <div class="panel-body">
        <%= render 'listshow' %>
    </div>
    <div class="panel-footer">
        <%= link_to " Homeに戻る" , root_path %>
        <%= render 'catepagelink' %>
    </div>
</div>


